button {
  border: 0;
  padding: 10px;
  cursor: pointer;
  background: $blueColor;
  font-size: 1em;
  color: #fff;
  outline: none;

  transition: background .2s ease-in;

  > fa {
    padding-right: 5px;
  }

  &:disabled {
    background: #ccc;
    cursor: no-drop;
  }

  &:hover,
  &:focus {
    background: darken($blueColor, 5%);
  }
}

.btn-transparent {
  background: inherit;
}
