form, .form {



}

.field {
  display: block;

  label {
    display: block;
    margin-bottom: .3rem;
  }

  input {
    width: 100%;
    box-sizing: border-box;
  }
}


ul.reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
