.mt-20 {
  margin-top: 20px;
}

.row {
  display: flex;
  margin-bottom: 20px;

  & > * {
    flex: 1;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.col {

}

.flex {
  display: flex;
  width: 100%;


  &.toolbar {
    justify-content: space-between;
    align-items: center;
  }
}
